*{
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body{
    background-image: url('fondopantalla_login.jpg');
    background-repeat: no-repeat;
    background-size: 100% 155%;
}

.forma-login{
 width: 400px;
 background:  #737373;
 padding: 30px;
 margin: auto;
 margin-top: 180px;
 border-radius: 4px;
 font-family: 'calibri';
 color: white;
}

.forma-login h1{
font-size: 22px;
margin-bottom: 20px;
text-align: center;
}

.cajatexto{
    width: 100%;
    background: #FFFFFF;
    padding: 10px;
    border-radius: 4px;
    margin-bottom: 16px;
    border: 1px solid #FFFFFF;
    font-family: 'calibri';
    font-size: 15px;
}

.forma-login .boton_login{
    width: 100%;
    background: #0efe0e7d;
    border: none;
    padding: 10px;
    color: white;
    margin: 10px 0;
    font-size: 16px;
}

.forma-login p{
    text-align: center;
}