.title_populares {
  margin-top: 80px;
  margin-left: 10px;
}

.populares {
  display: flex;

  border-radius: 8px;
  padding: 24px;
  overflow-x: scroll;

  width: 95%;
}

.artists {
  display: flex;
  justify-content: center;
}
